<%- include('./includes/navbar.ejs') %>
<div class="container mt-5">
	<div class="row">
		<div class="col">
			<!-- Cards -->
			<%- include("./includes/blogPost.ejs")%>
			<!-- pagination -->
			<%- include('./includes/pagination.ejs') %>
		</div>
	</div>
</div>
<%- include('./includes/footer.ejs') %>
